<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="responsive-table">          
        <table border="1" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Offer</th>
              <th>Validity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Unlimited Calls + Data</td>
              <td>28 days</td>
              <td>{{currencySymbol}}199</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Unlimited Calls + Data</td>
              <td>90 days</td>
              <td>{{currencySymbol}}509</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Free Calls + Data</td>
              <td>1 days</td>
              <td>{{currencySymbol}}9</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary">Create Offer</button>
    </div>
  </div>
</div>

