<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <span class="title">Telecom Service Provider </span> 
        <a class="navbar-brand dellimage" href="#">
          <img src="/assets/dellemc.png" class="d-inline-block align-top dellimage" alt="">
          <!-- Telecom Service Provider -->
        </a>
      </div>
    </nav>
  </div>
</div>

<div class="row" class="custom-fixed">
  <div class="col-12">
    <router-outlet></router-outlet>
    <!-- <app-sign-in></app-sign-in> -->
  </div>
</div>