.sign-in-div{
    background-color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    font-family: initial;
    height: -webkit-fill-available;
    margin: 30px;
}
.my-form{
    font-size: large;
    margin-top: 20px;
}
.row{
    background-color: #fff;
    display:-webkit-box;
    margin-bottom: 15px;
}
.btttonColor{
    color : brown;
}
.registration{
    display: inline-grid;
    margin-right:10px;
}
.registerButton{
    position: relative;
}
label{
    margin-bottom: 0;
}