<div class="row">
  <!-- <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3"></div> -->
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div *ngIf="!online">
      <div class="container-fluid">
        <div class="sign-in-div">
          <div style="margin-top: 85px; color:rebeccapurple; align-self: center">
           <!--  <span>Please sign in</span> -->
            <div  class="my-form">
              <form  [formGroup]="createOfferForm"  (ngSubmit)="onSubmit(createOfferForm.value)">
                <div class="form-group">
                  <label>Offer</label>
                  <input type="text" formControlName="offerName" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.offerName.errors }" 
                  placeholder="Enter offer name" required/>
                  <div *ngIf="submitted && f.offerName.errors" class="invalid-feedback">
                      <div *ngIf="f.offerName.errors.required">Offer is required</div>
                  </div>
                </div>
               
                <div class="form-group">
                  <label for="validity">Validity</label>
                  <input type="number" formControlName="validity" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.validity.errors }" 
                  name="validity" id="validity" placeholder="Enter validity" required />
                  <div *ngIf="submitted && f.validity.errors" class="invalid-feedback">
                      <div *ngIf="f.validity.errors.required">Validity is required</div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" formControlName="price" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.price.errors }" 
                  name="price" id="price" placeholder="Enter price" required />
                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                      <div *ngIf="f.price.errors.required">Price is required</div>
                  </div>
                </div>

                    <button type = "submit" [disabled]="loading"
                    class="btn btn-primary">Submit</button>
                    <img *ngIf="loading" class="pl-3"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a  [routerLink]="['/sideBar/create-offer']" class="btn btn-link">Cancel</a>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--  <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3"></div> -->
</div>

