  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="container-fluid">
        <div class=" sign-in-div">
          <div style="margin-top: 85px; color:rebeccapurple;">
            <span>Please sign in</span>
            <div class="my-form">
              <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1">User name</label>
                  <input type="text"  class="form-control" name="userName" id="userName" aria-describedby="userNameHelp"
                    placeholder="Enter user name" [ngModel]="user.userName" required>
                  <small id="userNameHelp" class="form-text text-muted">We'll never share your user name with anyone
                    else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password"  class="form-control" name="Password" id="exampleInputPassword1"
                    placeholder="Password" [ngModel]="user.password" required>
                </div>
                <button type="submit" class="btn btn-primary" routerLink = "/sideBar" routerLinkActive="buttonColor">Sign In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

 